
global
{
	
	port=80
	name=192.168.0.110
	location=/home/hanzhao/site/default
	error=/home/hanzhao/site/default/error.html
	log=/home/hanzhao/site/default/log
	debug=off
	control
	{
		test=2	
	}
	
}

host
{
		name=www.easyhttpd.org
		location=/home/hanzhao/site/easyhttpd
		error=/home/hanzhao/site/easyhttpd/error.html
		log=/home/hanzhao/site/easyhttpd/log
		control
		{
			
		}
}

mime
{
	.html=text/html
	.txt=text/plain
	.gif=image/gif
	.png=image/png
	.jpg=image/jpeg
	*=application/octet-stream

}
